<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfood"
    android:versionCode="1"
    android:versionName="1.0">


    <!-- sd卡读取权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>

    <!-- 读取联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 拨打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 访问网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 百度地图相关权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />

    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 完全退出程序权限 -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <application
        android:name="com.example.utils.myapplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="false"
        android:largeHeap="true">
        <activity
            android:name="com.example.myfood.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="com.example.myfood.BasketActivity"
            android:label="@string/title_activity_basket">
        </activity>
        <activity android:name="com.example.myfood.MenuActivity"
            android:label="@string/title_activity_menu">
        </activity>
        <activity
            android:name="com.example.myfood.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/Holo" >
        </activity>
        <activity
            android:name="com.example.myfood.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/Holo">
        </activity>
        <activity
            android:name="com.example.myfood.StarActivity"
            android:label="@string/title_activity_star"
            android:theme="@style/Holodnoframe" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.myfood.UsercenterActivity"
            android:label="@string/title_activity_usercenter">
        </activity>
        <activity
            android:name="com.example.myfood.UserInfoActivity"
            android:label="@string/title_activity_userinfo">
        </activity>
        <activity
            android:name="com.example.myfood.InfoalterActivity"
            android:label="@string/title_activity_infoalter">
        </activity>
        <activity android:name=".StoreActivity"
            android:label="@string/title_activity_store">
        </activity>
        <activity android:name=".StoreInfoActivity"
            android:label="@string/title_activity_storeinfo">
        </activity>
        <activity
            android:name="com.example.myfood.FoodActivity"
            android:label="@string/title_activity_food" >
        </activity>
        <activity android:name=".PindanActivity"
            android:label="@string/title_activity_pindan">
        </activity>
        <activity android:name=".HistoryActivity"
            android:label="@string/title_activity_history">
        </activity>
        <activity android:name=".FeedBackActicity"
            android:label="@string/title_activity_feedback">
        </activity>
        <service android:name="com.example.method.MessageService" android:label="消息推送" android:process=":message" />
    </application>

</manifest>